<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
    <!-- <link rel="preload" as="font" href="/static/fonts/Anton-Regular.ttf" type="font/ttf" /> -->
    <link rel="stylesheet" href="/static/fonts/font.css">
</head>
<body>
    <div style="font-family:Anton-Regular; position:absolute; left:-1000px; visibility:hidden;">.</div>
    <script src="/static/scripts/classes/playerClass.js"></script>
    <script src="/static/scripts/classes/planetClass.js"></script>
    <script src="/static/scripts/classes/btnClass.js"></script>
    <script src="/static/scripts/classes/shipClass.js"></script>
    <script src="/static/scripts/scenes/GameScene.js"></script>
    <script src="/static/scripts/scenes/UIScene.js"></script>
    <script src="/static/scripts/game.js"></script>
</body>
</html>